*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 2%;
}
div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 3px black solid;
    border-radius: 20px;
    width: 250px;
    height: 150px;
}
h1 {
    text-align: center;
}